.about-us {
  @media (min-width: @desktop-width) {
    margin-left: 175px;
    margin-top: 164px;
  }
}

.about-us__heading {
  font-family: @font-primary;
  color: @heading-color;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-top: 68px;
  }
}

.about-us__features-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    column-count: 2;
    column-gap: 40px;
    max-width: 660px;
    margin-top: 5px;
  }
}

.about-us__feature {
  margin-top: 83px;
  position: relative;
  max-width: 295px;
  display: inline-block;
  vertical-align: middle;

  @media (min-width: @tablet-width) {
    margin-top: 72px;
  }

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    top: -33px;
    left: 0;
  }

  &--eco::before {
    background-image: url("../img/icon-eco.svg");
    width: 32px;
    height: 37px;
    top: -37px;
    left: 9px;
  }

  &--price::before {
    background-image: url("../img/icon-bill.svg");
    width: 47px;
    height: 27px;
    top: -35px;
  }

  &--likes::before {
    background-image: url("../img/icon-heart.svg");
    width: 34px;
    height: 27px;
    left: 0;
    top: -31px;
    left: 8px;
  }

  &--love::before {
    background-image: url("../img/icon-yarn.svg");
    width: 35px;
    height: 34px;
    top: -33px;
    left: 3px;
  }

  &--support::before {
    background-image: url("../img/icon-rocket.svg");
    width: 55px;
    height: 23px;
    top: -33px;
    left: -6px;
  }

  &--giftwrap::before {
    background-image: url("../img/icon-gift.svg");
    width: 33px;
    height: 32px;
    left: 3px;
    top: -35px;
  }
}

.about-us__feature-text {
  font-family: @font-primary;
  color: @heading-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
