.intro {
  background-repeat: no-repeat;
  background-color: @background-intro;
  min-height: 489px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: @mobile-width) {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-size: 575px 373px;
    background-position: top -30px center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
    min-height: 746px;
    background-position: top center;

    &::after {
      position: absolute;
      width: 100%;
      content: "";
      bottom: -8px;
      left: 0;
      height: 24px;
      background-size: auto 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;

    &::after {
      height: 37px;
      bottom: -19px;
      background-size: auto 37px;
      background-position: left 10px center;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}

.intro__title {
  font-family: @font-primary;
  color: @heading-color;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 73px;
  max-width: 250px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 155px;
    max-width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 158px;
    max-width: 615px;
    font-size: 53px;
    line-height: 57px;
  }
}

.intro__nav {
  list-style: none;
  margin: 0 -30px;
  margin-top: auto;
  padding: 0;

  @media (max-width: @mobile-width) {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 0;
    display: flex;
  }
}

.intro__nav-item {
  display: block;

  &--first {
    background-color: @decorative-color-light;
  }

  &--second {
    background-color: @decorative-color-dark;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 0;

    &--first {
      right: 0;
    }

    &--second {
      left: 0;
    }
  }
}

.intro__nav-link {
  text-decoration: none;
  min-width: 320px;
  min-height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  @media (min-width: @tablet-width) {
    min-width: 334px;
    min-height: 119px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;

    &:hover,
    &:focus {
      min-height: 124px;
    }

    &:active {
      min-height: 124px;
    }

    &:hover::after,
    &:focus::after {
      transform: translateY(-52%);
    }

    &:active::after {
      transform: translateY(-52%);
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 525px;
  }

  &:hover .intro__nav-link-wrapper::after,
  &:focus .intro__nav-link-wrapper::after {
    opacity: 0.7;
  }

  &:active .intro__nav-link-wrapper::after {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    &:hover span,
    &:focus span {
      padding-bottom: 5px;
    }

    :active span {
      padding-bottom: 5px;
    }
  }
}

.intro__nav-link span {
  font-family: @font-primary;
  color: @font-color-secondary;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  max-width: 135px;
  display: block;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: -10px;
  }
}

.intro__nav-link-wrapper {
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }

  @media (max-width: @mobile-width) {
      width: 320px;
      margin: 0 auto;
      position: relative;
      display: block;
      padding: 0 30px;
  }

  &--interior::after {
    background-image: url("../img/icon-interior.svg");
    width: 40px;
    height: 62px;
    right: 36px;
  }

  &--toys::after {
    background-image: url("../img/icon-toy.svg");
    width: 60px;
    height: 60px;
    right: 35px;
  }
}
