.order-form__wrapper-background {
  @media (min-width: @tablet-width) {
    background-color: @background-color-secondary;
    padding: 0;
  }
}

.order-form__wrapper {
  width: 320px;
  padding: 0 30px;
  padding-top: 30px;
  margin: 0 auto;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: 770px;
    padding: 30px 50px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    padding: 50px 0;
    padding-top: 28px;
    padding-bottom: 30px;
  }

  &--phone-email {
    @media (max-width: @mobile-width) {
      padding-top: 19px;
      padding-bottom: 5px;
    }

    @media (min-width: @tablet-width) {
      padding-top: 45px;
      padding-bottom: 50px;
    }
  }

  &--color {
    @media (min-width: @tablet-width) {
      padding-top: 60px;
      padding-bottom: 61px;
    }
  }

  &--name {
    @media (min-width: @tablet-width) {
      padding-top: 48px;
      padding-bottom: 50px;
    }
  }

  &--submisson {
    @media (max-width: @mobile-width) {
      padding-top: 3px;
      padding-bottom: 16px;
    }

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 3px;
      padding-bottom: 0;
      margin-bottom: -7px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  &--comment {
    @media (min-width: @tablet-width) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.order-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 168px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }

  &--radio {
    @media (min-width: @tablet-width) {
      padding-top: 51px;
      padding-bottom: 37px;
    }
  }

  &--phone-number {
    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
    }
  }
}

.order-form__legend {
  padding: 0;
  margin: 0;
  font-family: @font-primary;
  text-transform: uppercase;
  color: @decorative-color-light;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;

  @media (max-width: @mobile-width) {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;

    &::after {
      content: "";
      margin-left: 16px;
      width: 100%;
      height: 1px;
      background-color: @form-decorative-color;
    }
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    left: -114px;
  }

  &--type {
    @media (min-width: @tablet-width) {
      top: 2px;
    }

    @media (min-width: @desktop-width) {
      top: 55px;
    }
  }

  &--color {
    @media (max-width: @mobile-width) {
      margin-bottom: 28px;
    }

    @media (min-width: @tablet-width) {
      top: 7px;
    }

    @media (min-width: @desktop-width) {
      top: 8px;
    }
  }

  &--customer-name {
    @media (max-width: @mobile-width) {
      margin-bottom: 26px;
    }

    @media (min-width: @tablet-width) {
      top: 20px;
    }

    @media (min-width: @desktop-width) {
      top: 21px;
    }
  }

  &--phone-email {
    @media (max-width: @mobile-width) {
      margin-bottom: 4px;
    }

    @media (min-width: @tablet-width) {
      top: 19px;
    }
  }

  &--comment {
    @media (max-width: @mobile-width) {
      margin-bottom: 22px;
    }

    @media (min-width: @tablet-width) {
      top: 18px;
    }
  }
}

.order-form__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 47px;
    grid-column-gap: 23px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-row-gap: 48px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: -86px;
    grid-column-gap: 0;
  }
}

.order-form__item {
  @media (max-width: @mobile-width) {
    &:not(:last-of-type) {
      margin-bottom: 31px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.order-form__label {
  font-family: @font-primary;
  color: @heading-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.order-form__input-hidden {
  opacity: 0;
  position: absolute;
}

.order-form__label--radio {
  position: relative;
  padding-left: 60px;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 81px;

    &:not(:last-of-type) {
      margin-bottom: 58px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid @font-color-primary;

    @media (min-width: @tablet-width) {
      width: 54px;
      height: 55px;
    }
  }

  &::after {
    opacity: 0;
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 18px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    background-color: @form-decorative-color;
    left: 12px;

    @media (min-width: @tablet-width) {
      left: 27px;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
    }
  }
}

.order-form__input-radio:not(:disabled):checked + .order-form__label--radio::after,
.order-form__input-radio:not(:disabled):active + .order-form__label--radio::after {
  opacity: 1;
}

.order-form__input-radio:not(:disabled):checked:focus + .order-form__label--radio::after {
  box-shadow: 0 0 3px 2px fade(@font-color-primary, 30%);
}

.order-form__input-radio:not(:disabled):hover + .order-form__label--radio::before {
  border-color: @form-decorative-color;
}

.order-form__input-radio:not(:disabled):focus + .order-form__label--radio::before {
  border-color: @form-decorative-color;
  box-shadow: 0 0 4px 2px fade(@font-color-primary, 30%);
}

.order-form__input-radio:not(:disabled):active + .order-form__label--radio::before {
  border-color: fade(@font-color-primary, 30%);
  box-shadow: 0 0 4px 2px @form-decorative-color;
}

.order-form__input-radio:disabled + .order-form__label--radio::after,
.order-form__input-radio:checked:disabled + .order-form__label--radio::after {
  background-color: @input-color-disabled;
}

.order-form__input-radio:disabled + .order-form__label--radio::before,
.order-form__input-radio:checked:disabled + .order-form__label--radio::before {
  border-color: @input-color-disabled;
}

.order-form__label--checkbox {
  position: relative;
  padding-left: 61px;

  @media (max-width: @mobile-width) {
    line-height: 17px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 82px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 39px;
    border: 2px solid @font-color-primary;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: @tablet-width) {
      width: 54px;
      height: 52px;
    }
  }

  &::after {
    opacity: 0;
    position: absolute;
    content: "";
    border: solid @input-checkbox-tick-color;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    left: 17px;
    top: -3px;
    width: 8px;
    height: 22px;

    @media (min-width: @tablet-width) {
      left: 21px;
      top: -3px;
      width: 12px;
      height: 26px;
    }
  }
}

.order-form__input-checkbox:not(:disabled):hover + .order-form__label--checkbox::before {
  border-color: @form-decorative-color;
}

.order-form__input-checkbox:not(:disabled):focus + .order-form__label--checkbox::before {
  border-color: @form-decorative-color;
  box-shadow: 0 0 4px 2px fade(@font-color-primary, 30%);
}

.order-form__input-checkbox:not(:disabled):active + .order-form__label--checkbox::before {
  border-color: fade(@font-color-primary, 30%);
  box-shadow: 0 0 4px 2px @form-decorative-color;
}

.order-form__input-checkbox:not(:disabled):active + .order-form__label--checkbox::after,
.order-form__input-checkbox:not(:disabled):checked + .order-form__label--checkbox::after,
.order-form__input-checkbox:checked:disabled + .order-form__label--checkbox::after {
  opacity: 1;
}

.order-form__input-checkbox:not(:disabled):checked:active + .order-form__label--checkbox::after {
  opacity: 0;
}

.order-form__input-checkbox:not(:disabled):checked:focus + .order-form__label--checkbox::after {
  box-shadow: 2px 2px 1px 0 fade(@input-checkbox-tick-color, 30%);
}

.order-form__input-checkbox:disabled + .order-form__label--checkbox::after,
.order-form__input-checkbox:checked:disabled + .order-form__label--checkbox::after {
  border-color: @input-color-disabled;
}

.order-form__input-checkbox:disabled + .order-form__label--checkbox::before,
.order-form__input-checkbox:checked:disabled + .order-form__label--checkbox::before {
  border-color: @input-color-disabled;
}

.order-form__input-fields-notice {
  font-family: @font-primary;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;

  @media (max-width: @mobile-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    order: 2;
  }
}

.order-form__label--text {
  display: flex;
  flex-direction: column;

  &:not(:first-of-type) {
    margin-top: 23px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.order-form__input-text {
  font-family: @font-primary;
  color: @font-color-primary;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  padding-top: 15px;
  border-bottom: 2px solid @decorative-color-border;
  background: none;

  @media (max-width: @mobile-width) {
    padding-left: 0;
    padding-top: 17px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  &::placeholder {
    font-family: @font-primary;
    color: fade(@font-color-placeholder, 30%);
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;

    @media (min-width: @tablet-width) {
      font-size: 19px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    border-color: @form-decorative-color;
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }

  &--visible-label {
    @media (min-width: @tablet-width) {
      margin-left: 28px;
      padding-top: 15px;
      padding-right: 17px;
      padding-bottom: 11px;
      padding-left: 17px;
    }
  }

  &--phone-number {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 25px 24px;
    background-position: center right 3px;

    @media (max-width: @mobile-width) {
      margin-bottom: 36px;
    }

    @media (min-width: @tablet-width) {
      padding-top: 15px;
      padding-right: 17px;
      padding-bottom: 14px;
      padding-left: 17px;
    }

    &:active,
    &:hover,
    &:focus {
      background-image: url("../img/icon-phone-active.svg");
    }
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 32px 32px;

    &:active,
    &:hover,
    &:focus {
      background-image: url("../img/icon-mail-active.svg");
    }

    @media (min-width: @tablet-width) {
      padding-top: 12px;
      padding-right: 18px;
      padding-bottom: 13px;
      padding-left: 18px;
    }
  }
}

.order-form__input-textarea {
  font-family: @font-primary;
  color: @font-color-primary;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  outline: none;
  border: 2px solid @decorative-color-border;
  background: none;
  min-height: 142px;
  max-height: calc(100vh - 150px);
  padding-top: 16px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;

  @media (max-width: @mobile-width) {
    min-width: 260px;
    max-width: 260px;
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
    min-width: 504px;
    max-width: 504px;
  }

  @media (min-width: @desktop-width) {
    min-width: 700px;
    max-width: 700px;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: @form-decorative-color;
  }

  &::placeholder {
    font-family: @font-primary;
    color: fade(@font-color-placeholder, 30%);
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;

    @media (min-width: @tablet-width) {
      font-size: 19px;
    }
  }
}

.order-form__submit {
  @media (max-width: @mobile-width) {
    width: 100%;
    font-size: 17px;
  }

  @media (min-width: @tablet-width) {
    min-width: 230px;
  }
}
